# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg
*.eggs
*.egg-info/
MANIFEST

temp
docs
.coverage
.vscode
.pytest_cache

